<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:1277217592 ">+44 12 77 217592 </a>
        </div>
      <div class="email">
        <a href="mailto:demo@spreecommerce.com">info@nannakay.co.uk</a>
      </div>
      <br>
      <div class="address">
        Unit A Great Ropers Business Centre 
        <br>
        Great Ropers Lane, Brentwood, CM13 3JW 
      </div>
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="http://www.nannakay.co.uk/faq">Products</a></li>
        <li><a href="http://www.nannakay.co.uk/about">Our Store</a></li>
        <li><a href="http://www.nannakay.co.uk/nutrition">Nutrition</a></li>    
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="http://support.nannakay.com/customer/portal/emails/new">Contact</a></li>
        <li><a href="http://www.nannakay.co.uk/faq">F.A.Q.</a></li>
        <li><a href="http://www.nannakay.co.uk/about/terms-and-conditions">Terms & Conditions</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        Always supplying
        nutritionally balanced meals
        packed full of healthy
        exciting ingredients.
      </p>
    </div>
    
  </div>
</footer>